@model PagedList.IPagedList<AspNetMvc_Phonebook.Models.Contact>
@using PagedList.Mvc
@using AspNetMvc_Phonebook

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />

<div id="table-layout" class="table-responsive">
    <table class="mdl-data-table mdl-js-data-table mdl-textfield--full-width">
        <tr>
            <th>
                @Ajax.ActionLink("Номер телефона", "DisplayTable",
               new { sortOrder = ViewBag.PhoneNumberSortParam, searchSelect = ViewBag.CurrentSelect, searchString = ViewBag.CurrentSearch },
               new AjaxOptions { UpdateTargetId = "table-layout" })
            </th>
            <th>
                @Ajax.ActionLink("Имя", "DisplayTable",
               new { sortOrder = ViewBag.FirstNameSortParam, searchSelect = ViewBag.CurrentSelect, searchString = ViewBag.CurrentSearch },
               new AjaxOptions { UpdateTargetId = "table-layout" })
            </th>
            <th>
                @Ajax.ActionLink("Фамилия", "DisplayTable",
               new { sortOrder = ViewBag.LastNameSortParam, searchSelect = ViewBag.CurrentSelect, searchString = ViewBag.CurrentSearch },
               new AjaxOptions { UpdateTargetId = "table-layout" })
            </th>
            <th>
                @Ajax.ActionLink("Электронная почта", "DisplayTable",
               new { sortOrder = ViewBag.EmailSortParam, searchSelect = ViewBag.CurrentSelect, searchString = ViewBag.CurrentSearch },
               new AjaxOptions { UpdateTargetId = "table-layout" })
            </th>
            <th></th>
        </tr>

        @foreach (AspNetMvc_Phonebook.Models.Contact c in Model)
        {
            <tr>
                <td>@c.PhoneNumber</td>
                <td>@c.FirstName</td>
                <td>@c.LastName</td>
                <td>@c.Email</td>
                <td>
                    <a href="/Home/Actions/@c.Id" class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect">
                        <i class="material-icons">settings</i>
                    </a>
                </td>
            </tr>
        }
    </table>

    <br />
    Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("DisplayTable",
    new { page, sortOrder = ViewBag.CurrentSort, searchSelect = ViewBag.CurrentSelect, searchString = ViewBag.CurrentSearch }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "table-layout" }))
</div>