@model PagedList.IPagedList<AspNetMvc_Phonebook.Models.Contact>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}
@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <p>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="searchString">
                <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
                @Html.TextBox("searchString", ViewBag.CurrentSearch as string, new { @class = "mdl-textfield__input", @placeholder = "Введите запроc" })
            </div>
        </div>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect" type="submit">Найти</button>
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-selectfield mdl-js-selectfield">
            @Html.DropDownList("searchSelect", ViewBag.SearchSelect as List<SelectListItem>, new { @class = "mdl-selectfield__select", @required = "" })
            <label class="mdl-selectfield__label" for="searchSelect">Найти по</label>
            <span class="mdl-selectfield__error">Выберите значение</span>
        </div>
    </p>
}

<div class="table-responsive">
    <table class="mdl-data-table mdl-js-data-table mdl-textfield--full-width" id="phonebookTable">
        <tr>
            <th>@Html.ActionLink("Номер телефона", "Index", new { sortOrder = ViewBag.PhoneNumberSortParam, searchSelect = ViewBag.CurrentSelect, searchString = ViewBag.CurrentSearch })</th>
            <th>@Html.ActionLink("Имя", "Index", new { sortOrder = ViewBag.FirstNameSortParam, searchSelect = ViewBag.CurrentSelect, searchString = ViewBag.CurrentSearch })</th>
            <th>@Html.ActionLink("Фамилия", "Index", new { sortOrder = ViewBag.LastNameSortParam, searchSelect = ViewBag.CurrentSelect, searchString = ViewBag.CurrentSearch })</th>
            <th>@Html.ActionLink("Электронная почта", "Index", new { sortOrder = ViewBag.EmailSortParam, searchSelect = ViewBag.CurrentSelect, searchString = ViewBag.CurrentSearch })</th>
            <th></th>
        </tr>
        @foreach (AspNetMvc_Phonebook.Models.Contact c in Model)
        {
            <tr>
                <td>@c.PhoneNumber</td>
                <td>@c.FirstName</td>
                <td>@c.LastName</td>
                <td>@c.Email</td>
                <td>
                    <button id="item-@c.Id.ToString()-modify-list"
                            class="mdl-button mdl-js-button mdl-button--icon">
                        <i class="material-icons">more_horiz</i>
                    </button>

                    <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="item-@c.Id.ToString()-modify-list">
                        <li class="mdl-menu__item" style="display:inline">
                            <a href="/Home/Edit/@c.Id" class="mdl-button mdl-js-button mdl-button--fab mdl-button--icon mdl-button--primary">
                                <i class="material-icons">edit</i>
                            </a>
                        </li>
                        <li class="mdl-menu__item" style="display:inline">
                            <a href="/Home/Delete/@c.Id" class="mdl-button mdl-js-button mdl-button--fab mdl-button--icon mdl-button--primary">
                                <i class="material-icons">delete</i>
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
        }
    </table>
</div>

<br />
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, searchSelect = ViewBag.CurrentSelect, searchString = ViewBag.CurrentSearch }))