@model PagedList.IPagedList<AspNetMvc_Phonebook.Models.Contact>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Главная";
}
@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <p>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="searchString">
                <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
                @Html.TextBox("searchString", ViewBag.CurrentSearch as string, new { @class = "mdl-textfield__input", @placeholder = "Введите запроc" })
            </div>
        </div>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect" type="submit">Найти</button>
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-selectfield mdl-js-selectfield">
            @Html.DropDownList("searchSelect", ViewBag.SearchSelect as List<SelectListItem>, new { @class = "mdl-selectfield__select", @required = "" })
            <label class="mdl-selectfield__label" for="searchSelect">Найти по</label>
            <span class="mdl-selectfield__error">Выберите значение</span>
        </div>
    </p>
}
<a href="Home/Add" class="mdl-button mdl-button--primary mdl-js-button mdl-js-ripple-effect">
    <i class="material-icons">add</i>
    Добавить новую запись
</a>
<div class="table-responsive">
    <table class="mdl-data-table mdl-js-data-table mdl-textfield--full-width" id="phonebookTable">
        <tr>
            <th>@Html.ActionLink("Номер телефона", "Index", new { sortOrder = ViewBag.PhoneNumberSortParam, searchSelect = ViewBag.CurrentSelect, searchString = ViewBag.CurrentSearch })</th>
            <th>@Html.ActionLink("Имя", "Index", new { sortOrder = ViewBag.FirstNameSortParam, searchSelect = ViewBag.CurrentSelect, searchString = ViewBag.CurrentSearch })</th>
            <th>@Html.ActionLink("Фамилия", "Index", new { sortOrder = ViewBag.LastNameSortParam, searchSelect = ViewBag.CurrentSelect, searchString = ViewBag.CurrentSearch })</th>
            <th>@Html.ActionLink("Электронная почта", "Index", new { sortOrder = ViewBag.EmailSortParam, searchSelect = ViewBag.CurrentSelect, searchString = ViewBag.CurrentSearch })</th>
            <th></th>
        </tr>
        @foreach (AspNetMvc_Phonebook.Models.Contact c in Model)
        {
            <tr>
                <td>@c.PhoneNumber</td>
                <td>@c.FirstName</td>
                <td>@c.LastName</td>
                <td>@c.Email</td>
                <td>
                    <button id="item-@c.Id.ToString()-modify-list-button"
                            class="mdl-button mdl-js-button mdl-button--icon">
                        <i class="material-icons">more_vert</i>
                    </button>

                    <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="item-@c.Id.ToString()-modify-list-button">
                        <li class="mdl-menu__item" style="text-align:center;">
                            <a href="/Home/Edit/@c.Id" class="mdl-button mdl-button--primary mdl-js-button mdl-js-ripple-effect">
                                <i class="material-icons">edit</i>
                                Редактировать
                            </a>
                        </li>
                        <li class="mdl-menu__item" style="text-align:center;">
                            <a href="/Home/Delete/@c.Id" class="mdl-button mdl-button--primary mdl-js-button mdl-js-ripple-effect">
                                <i class="material-icons">delete</i>
                                Удалить
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
        }
    </table>
</div>

<br />
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, searchSelect = ViewBag.CurrentSelect, searchString = ViewBag.CurrentSearch }))

<div id="toast-snackbar" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
</div>
<script>
    (function () {
        'use strict';
        var snackbarContainer = document.querySelector('.mdl-js-snackbar');
        var showToastButton = document.querySelector('.show-toast-button-delete');
        showToastButton.addEventListener('click', function () {
            'use strict';
            var data = { message: 'Запись удалена', timeout: 10000 };
            snackbarContainer.MaterialSnackbar.showSnackbar(data);
        });
    }());
</script>