@model PagedList.IPagedList<AspNetMvc_Phonebook.Models.Contact>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <p>
        Найти по
        @Html.DropDownList("searchSelect")
        @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { placeholder = "Введите поисковой запрос" })
        <input type="submit" value="Найти" />
    </p>
}

<table class="table">
    <tr>
        <th>@Html.ActionLink("Номер телефона", "Index", new { sortOrder = ViewBag.PhoneNumberSortParam, searchSelect = ViewBag.CurrentSelect, currentFilter = ViewBag.CurrentFilter })</th>
        <th>@Html.ActionLink("Имя", "Index", new { sortOrder = ViewBag.FirstNameSortParam, searchSelect = ViewBag.CurrentSelect, currentFilter = ViewBag.CurrentFilter })</th>
        <th>@Html.ActionLink("Фамилия", "Index", new { sortOrder = ViewBag.LastNameSortParam, searchSelect = ViewBag.CurrentSelect, currentFilter = ViewBag.CurrentFilter })</th>
        <th>@Html.ActionLink("Электронная почта", "Index", new { sortOrder = ViewBag.EmailSortParam, searchSelect = ViewBag.CurrentSelect, currentFilter = ViewBag.CurrentFilter })</th>
        <th></th>
    </tr>
    @foreach (AspNetMvc_Phonebook.Models.Contact c in Model)
    {
        <tr>
            <td>@c.PhoneNumber</td>
            <td>@c.FirstName</td>
            <td>@c.LastName</td>
            <td>@c.Email</td>
            <td><a href="/Home/Edit/@c.Id">Редактировать</a></td>
        </tr>
    }
</table>

<br />
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, searchSelect = ViewBag.CurrentSelect, currentFilter = ViewBag.CurrentFilter }))  