@model AspNetMvc_Phonebook.Models.Login
@{
    ViewBag.Title = "Вход";
}

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <p>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            @Html.TextBoxFor(m => m.Email, new { @class = "mdl-textfield__input" })
            @Html.LabelFor(m => m.Email, new { @class = "mdl-textfield__label" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>
    </p>
    <p>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            @Html.PasswordFor(m => m.Password, new { @class = "mdl-textfield__input" })
            @Html.LabelFor(m => m.Password, new { @class = "mdl-textfield__label" })
            @Html.ValidationMessageFor(m => m.Password)
        </div>
    </p>
    <button class="mdl-button mdl-button--colored mdl-button--raised mdl-js-button mdl-js-ripple-effect"
            type="submit">
        Войти
    </button>
}
